.portfolio {
  position: relative;
  margin-bottom: clamp(3.125rem, 2.33rem + 3.98vw, 5.313rem);
}

.decor {
  position: absolute;
  left: 0;
  top: 10%;
  z-index: -1;
  width: 100%; /* Делаем ширину svg 100% от родительского контейнера */
}
