.portfolioItem {
  border-radius: 25px;
  // background: radial-gradient(50.00% 50.00% at 50.00% 50.00%, #433D60 0%, #211E2E 100%);
  // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  position: relative;
  border: 5px solid #42445A;

  &:hover {
    // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

    .image {
      transform: scale(1.02);
      opacity: 0.3;
    }

    .portfolioItemContent {
      top: 0;
      opacity: 0.8;
    }

    .contentInner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @media (max-width: 768px) {
    &:hover {
      .image {
        transform: scale(1);
        opacity: 0.5;
      }
      
      .portfolioItemContent {
        top: 92%;
        background: transparent;
        opacity: 1;
      }
      
      .contentInner {
        position: static;
        transform: none;
        top: auto;
        left: auto;
      }
    }
}

}

.portfolioItemWpapper {
  padding: 10px 10px 30px 10px;
}

.portfolioItemImg {
  padding: 20px;
  margin-bottom: 20px;
}

.image {
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}

.portfolioItemContent {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    transition: all 0.3s ease-in-out;
  }
}

.title {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 17px;
  border-bottom: 1px solid #433D60;
  width: fit-content;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}

.text {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}