.benefits {
  position: relative;
  margin-bottom: clamp(5rem, 3.864rem + 5.68vw, 8.125rem);
}

.decor {
  position: absolute;
  left: 0;
  bottom: 50px;
  z-index: -1;
  width: 100%; /* Делаем ширину svg 100% от родительского контейнера */
}